.page.theme_light {
  --bg-image: url("../images/cover-image-light.png");
  --title-color: #ffc2e6;
  --sub-title-color: #353430;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --bg-color: #fff1f7;
  --border-color: #353430;
  --menu-text-color: #353430;
  --button-border-color: rgba(50, 49, 45, 0.4);
  --link-color: #353430;
}

.theme_light .header__theme-dark-decor {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("../images/cover-image-light.png");
    --title-color: #ffc2e6;
    --sub-title-color: #353430;
    --accent-color: #ff8dcb;
    --info-color: #353430;
    --text-color: #353430;
    --bg-color: #fff1f7;
    --border-color: #353430;
    --menu-text-color: #353430;
    --button-border-color: rgba(50, 49, 45, 0.4);
  }
  .theme_auto .header__theme-dark-decor {
    display: none
  }
}




