:root {
  --main-font-family: "IBM-Plex", sans-serif;
  --bg-image: url("../images/cover-image-dark.png");
  --title-color: #db00ff;
  --sub-title-color: #000028;
  --accent-color: #ff0070;
  --info-color: #ff0070;
  --text-color: #f1b2ce;
  --border-color: #ff0070;
  --main-bg-color: #000028;
  --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --text-font-size: 18px;
  --text-line-height: 130%;
  --main-gap: 20px;
  --images-proportions: cover;
  --button-border-color: rgb(255, 0, 112, 0.4);
  --text-weight: 400;
  --link-color: #f1b2ce;
  --images-height: 100%;
  --menu-text-color: #ff0070;
}
